<ion-view title="Acerca de...">
    <ion-content class="">
        
         <div class="card">
          <div class="item item-divider">
            Bienvenido a DamChat
          </div>
          <div class="item item-text-wrap">
            DamChat es una aplicación desarrollada bajo el framework Ionic y que permite establecer conversaciones formato chat con otros usuarios de la aplicación.
            Para acceder a DamChat pulsa en el siguiente botón:
          </div>
          <a ui-sref="DamChat" class="item item-icon-right text-center">
            <i class="icon ion-university"></i>
            Acceso a DamChat
          </a>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            Información sobre los autores
          </div>
          <div class="item item-text-wrap">
            Aplicación desarrollada por {{home}}.
          </div>
          <a ui-sref="autores" class="item item-icon-left text-center">
            <i class="icon ion-briefcase"></i>
            Sobre nosotros...
          </a>
        </div>
    
    </ion-content>
</ion-view>