<ion-view title="Ajustes">
   
   <div class="tabs-striped tabs-background-royal tabs-color-light">
        <div class="tabs">
          <a class="tab-item" ui-sref="DamChat">
            <i class="icon ion-chatboxes"></i>
          </a>
          <a class="tab-item" ui-sref="#">
            <i class="icon ion-person-stalker"></i>
          </a>
          <a class="tab-item active" ui-sref="ajustes">
            <i class="icon ion-gear-a"></i>
          </a>
        </div>
    </div>
    
    <ion-content class="">
        <div class="list">
            <a class="item item-icon-right" ui-sref="acercaDe">
                <i class="icon ion-information-circled"></i>
                Acerca de...
            </a>
        </div>         
    
    </ion-content>
</ion-view>