<ion-view title="{{autor.nombre}}">
    <ion-content class="">
        <div class="card">
            <div class="item item-divider">
                Currículum
            </div>
            <div class="item item-text-wrap">
                {{autor.experiencia}}
            </div>       

            <div class="item item-divider">
                Contacto
            </div>
            <a href="#mailto:" class="item item-icon-right">
                <i class="icon ion-email"></i>
                Correo
            </a>
            <a href="#@twitter" class="item item-icon-right">
                <i class="icon ion-social-twitter"></i>
                Twitter
            </a>
            <a href="#tel:" class="item item-icon-right">
                <i class="icon ion-android-phone-portrait"></i>
                Teléfono
            </a>
        </div>    
    </ion-content>
</ion-view>